{% extends 'authentication/navbar.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block main-content %}
<div class="container mb-5">
    <div class="card mx-auto mt-5 pb-3 shadow rounded" style="width: 25rem;">
      <div class="card-body">
        <h4 class="card-title">Register</h4>
    <form action="" method="post" novalidate>
    {% csrf_token %}
    {{form}}
    <br>
    <input type="submit" value="Register" class="btn btn-outline-dark">
    </form>
{% comment %} <p class="mt-2"><a href="{% url 'login' %}">Login</a></p> {% endcomment %}

<hr class="hr-text" data-content="OR">

        <!-- Create account button -->
        <p class="text-center">Already have an account? <a href="{% url 'login' %}">Sign in <i class="fas fa-caret-right"></i></a></p>
        <a href="#" class="btn btn-outline-success btn-sm w-100 mt-2">
          <i class="fab fa-google"></i> Sign in with Google
        </a>
        <a href="#" class="btn btn-outline-primary btn-sm w-100 mt-2">
          <i class="fab fa-facebook-square"></i> Sign in with Facebook
        </a>
    </div>
    </div>
    </div>
{% endblock main-content %}